body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #39ff14; /* Neon green */
  color: #333;
}

.home-container {
  text-align: center;
  margin-top: 150px;
}

.team-name {
  font-size: 90px;
  margin-bottom: 10px;
  color: red;
  /* Black outline around letters */
  text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}

.team-members {
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: normal;
  color: red;
  /* Black outline around letters */
  text-shadow:
    -1.5px -1.5px 0 black,
     1.5px -1.5px 0 black,
    -1.5px  1.5px 0 black,
     1.5px  1.5px 0 black;
}

.home-nav a {
  display: block;
  margin: 12px 0;
  font-size: 18px;
  color: #003366; /* Keep links blue */
  text-decoration: none;
  font-weight: bold;
}

.home-nav a:hover {
  text-decoration: underline;
}
